services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      API_PORT: ${API_PORT}
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      NODE_ENV: ${NODE_ENV}
      TEST_EMAIL: ${TEST_EMAIL}
      TEST_PASSWORD: ${TEST_PASSWORD}
    volumes:
      - ./api:/api
      - /api/node_modules
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - sow-network

  db:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: ${POSTGRES_HOST_AUTH_METHOD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - sow-network

  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    ports:
      - "5174:5174"
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV}
      VITE_API_URL: ${VITE_API_URL}
    volumes:
      - ./web:/webapp
      - /webapp/node_modules
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - sow-network

volumes:
  db-data:

networks:
  sow-network:
